<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string></string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.bigbang.supersales</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.1.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>961734f32ef634f720dd884b6f421e4b5033b1b9</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Allow SuperSales to access your camera to upload pictures for your sales reporting functions.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Supersales needs to update your location to allocate nearby customer  leads to your current location and  facilitate location based check-in to customer and work locations.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Supersales needs to update your location to allocate nearby customer  leads to your current location and  facilitate location based check-in to customer and work locations.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Supersales needs to update your location to allocate nearby customer  leads to your current location and  facilitate location based check-in to customer and work locations.</string>
	<key>NSMotionUsageDescription</key>
	<string>$(PRODUCT_NAME) motion use.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Allow SuperSales to access your photo gallery to upload pictures for your sales reporting functions.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Montserrat-Light.otf</string>
		<string>Montserrat-Medium.otf</string>
		<string>montserrat_bold.otf</string>
		<string>montserrat_regular.otf</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>SplashViewController</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
