<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Address</key>
	<dict>
		<key>entity_id</key>
		<string>AddressID</string>
		<key>country</key>
		<string>Country</string>
		<key>state</key>
		<string>State</string>
		<key>city</key>
		<string>City</string>
		<key>address1</key>
		<string>AddressLine1</string>
		<key>address2</key>
		<string>AddressLine2</string>
		<key>pincode</key>
		<string>Pincode</string>
		<key>latitude</key>
		<string></string>
		<key>longitude</key>
		<string>Longitude</string>
		<key>type</key>
		<string>Type</string>
		<key>verified</key>
		<string>Verified</string>
		<key>lastmodifiedby</key>
		<string>LastModifiedBy</string>
	</dict>
	<key>Vendor</key>
	<dict>
		<key>entity_id</key>
		<string>ID</string>
		<key>name</key>
		<string>Name</string>
		<key>logo</key>
		<string>Logo</string>
		<key>mobileno</key>
		<string>MobileNo</string>
		<key>landlineno</key>
		<string>LandlineNo</string>
		<key>emailID</key>
		<string>EmailID</string>
		<key>owner_id</key>
		<string>OwnerID</string>
		<key>company_type_id</key>
		<string>CompanyTypeID</string>
		<key>created_by</key>
		<string>CreatedBy</string>
		<key>company_id</key>
		<string>CompanyID</string>
		<key>type</key>
		<string>Type</string>
		<key>desc</key>
		<string>Description</string>
		<key>key_customer</key>
		<string>Key_Customer</string>
		<key>lastmodifiedby</key>
		<string>LastModifiedBy</string>
		<key>lastmodified</key>
		<string>LastModified</string>
		<key>tax_type</key>
		<string>Tax_Type</string>
		<key>isActive</key>
		<string>isActive</string>
		<key>transactional</key>
		<string>Transactional</string>
	</dict>
	<key>Customer</key>
	<dict>
		<key>entity_id</key>
		<string>ID</string>
		<key>name</key>
		<string>Name</string>
		<key>logo</key>
		<string>Logo</string>
		<key>mobileno</key>
		<string>MobileNo</string>
		<key>landlineno</key>
		<string>LandlineNo</string>
		<key>emailID</key>
		<string>EmailID</string>
		<key>owner_id</key>
		<string>OwnerID</string>
		<key>company_type_id</key>
		<string>CompanyTypeID</string>
		<key>created_by</key>
		<string>CreatedBy</string>
		<key>company_id</key>
		<string>CompanyID</string>
		<key>type</key>
		<string>Type</string>
		<key>desc</key>
		<string>Description</string>
		<key>key_customer</key>
		<string>Key_Customer</string>
		<key>lastmodifiedby</key>
		<string>LastModifiedBy</string>
		<key>lastmodified</key>
		<string>LastModified</string>
		<key>transactional</key>
		<string>Transactional</string>
		<key>isActive</key>
		<string>isActive</string>
	</dict>
	<key>UsersLocation</key>
	<dict>
		<key>entity_id</key>
		<string>userid</string>
		<key>location</key>
		<string>location</string>
		<key>date</key>
		<string>date</string>
		<key>company_id</key>
		<string>companyid</string>
		<key>firstname</key>
		<string>FirstName</string>
		<key>lastname</key>
		<string>LastName</string>
		<key>imageURL</key>
		<string>imageURL</string>
		<key>isGPSOn</key>
		<string>isGPSOn</string>
		<key>isMockLocation</key>
		<string>isMockLocation</string>
		<key>time</key>
		<string>time</string>
		<key>user</key>
		<string>user</string>
		<key>latitude</key>
		<string>latitude</string>
		<key>longitude</key>
		<string>longitude</string>
	</dict>
	<key>UserLocation</key>
	<dict>
		<key>entity_id</key>
		<string>userid</string>
		<key>location</key>
		<string>location</string>
		<key>date</key>
		<string>date</string>
		<key>company_id</key>
		<string>companyid</string>
		<key>firstname</key>
		<string>FirstName</string>
		<key>lastname</key>
		<string>LastName</string>
		<key>imageURL</key>
		<string>imageURL</string>
		<key>isGPSOn</key>
		<string>isGPSOn</string>
		<key>isMockLocation</key>
		<string>isMockLocation</string>
		<key>time</key>
		<string>time</string>
		<key>user</key>
		<string>user</string>
		<key>latitude</key>
		<string>latitude</string>
		<key>longitude</key>
		<string>longitude</string>
	</dict>
	<key>LeaveBalance</key>
	<dict>
		<key>user_id</key>
		<string>UserID</string>
		<key>modifiedBy</key>
		<string>ModifiedBy</string>
		<key>companyID</key>
		<string>CompanyID</string>
		<key>leaveBalance</key>
		<string>LeaveBalance</string>
		<key>leavesTaken</key>
		<string>LeavesTaken</string>
		<key>leaveType</key>
		<string>LeaveType</string>
		<key>totalLeaves</key>
		<string>TotalLeaves</string>
	</dict>
	<key>Leave</key>
	<dict>
		<key>entity_id</key>
		<string>leaveID</string>
		<key>companyID</key>
		<string>companyID</string>
		<key>date</key>
		<string>date</string>
		<key>type</key>
		<string>type</string>
		<key>status</key>
		<string>status</string>
		<key>reason</key>
		<string>reason</string>
		<key>appliedOn</key>
		<string>appliedOn</string>
		<key>transactionID</key>
		<string>transactionID</string>
		<key>approvedBy</key>
		<string>approvedBy</string>
		<key>approvedOn</key>
		<string>approvedOn</string>
		<key>leaveDay</key>
		<string>leaveDay</string>
		<key>modifiedBy</key>
		<string>modifiedBy</string>
	</dict>
	<key>LeaveStatus</key>
	<dict>
		<key>medicalCerti</key>
		<string>medicalCerti</string>
		<key>entity_id</key>
		<string>leaveID</string>
		<key>companyID</key>
		<string>companyID</string>
		<key>date</key>
		<string>date</string>
		<key>type</key>
		<string>type</string>
		<key>status</key>
		<string>status</string>
		<key>reason</key>
		<string>reason</string>
		<key>appliedOn</key>
		<string>appliedOn</string>
		<key>transactionID</key>
		<string>transactionID</string>
		<key>approvedBy</key>
		<string>approvedBy</string>
		<key>approvedOn</key>
		<string>approvedOn</string>
		<key>leaveDay</key>
		<string>leaveDay</string>
		<key>modifiedBy</key>
		<string>modifiedBy</string>
	</dict>
	<key>LeaveUser</key>
	<dict>
		<key>entity_id</key>
		<string>userId</string>
		<key>companyId</key>
		<string>companyId</string>
		<key>roleId</key>
		<string>roleId</string>
		<key>firstName</key>
		<string>firstname</string>
		<key>lastName</key>
		<string>lastname</string>
		<key>deviceid</key>
		<string>deviceid</string>
		<key>picture</key>
		<string>picture</string>
		<key>desc</key>
		<string>desc</string>
		<key>emailID</key>
		<string>emailID</string>
	</dict>
	<key>LeaveStatusUser</key>
	<dict>
		<key>entity_id</key>
		<string>userId</string>
		<key>companyId</key>
		<string>companyId</string>
		<key>roleId</key>
		<string>roleId</string>
		<key>firstName</key>
		<string>firstname</string>
		<key>lastName</key>
		<string>lastname</string>
		<key>deviceid</key>
		<string>deviceid</string>
		<key>picture</key>
		<string>picture</string>
		<key>desc</key>
		<string>desc</string>
		<key>emailID</key>
		<string>emailID</string>
	</dict>
	<key>Company</key>
	<dict>
		<key>addressLine1</key>
		<string>AddressLine1</string>
		<key>travelUpCountryType</key>
		<string>TravelUpCountryType</string>
		<key>travelLocalType</key>
		<string>TravelLocalType</string>
		<key>homeType</key>
		<string>HomeType</string>
		<key>officeType</key>
		<string>OfficeType</string>
		<key>customerType</key>
		<string>CustomerType</string>
		<key>vendorType</key>
		<string>VendorType</string>
		<key>addressLine2</key>
		<string>AddressLine2</string>
		<key>autoLeaveUpdate</key>
		<string>AutoLeaveUpdate</string>
		<key>avgWorkingTime</key>
		<string>avgWorkingTime</string>
		<key>companyid</key>
		<string>companyid</string>
		<key>createdBy</key>
		<string>createdBy</string>
		<key>endTime</key>
		<string>endTime</string>
		<key>logo</key>
		<string>logo</string>
		<key>minimumWorkingTime</key>
		<string>minimumWorkingTime</string>
		<key>modifiedBy</key>
		<string>modifiedBy</string>
		<key>name</key>
		<string>name</string>
		<key>notificationLevel</key>
		<string>notificationLevel</string>
		<key>payrollEnabled</key>
		<string>payrollEnabled</string>
		<key>saturdayPolicy</key>
		<string>saturdayPolicy</string>
		<key>startTime</key>
		<string>startTime</string>
		<key>trackingInteval</key>
		<string>trackingInteval</string>
		<key>trackingStartTime</key>
		<string>trackingStartTime</string>
		<key>trakingEndTime</key>
		<string>trakingEndTime</string>
		<key>userid</key>
		<string>userid</string>
		<key>workingDays</key>
		<string>workingDays</string>
		<key>workingSaturday</key>
		<string>workingSaturday</string>
	</dict>
	<key>CompanyLeave</key>
	<dict>
		<key>companyId</key>
		<string>companyId</string>
		<key>active</key>
		<string>active</string>
		<key>leaveType</key>
		<string>leaveType</string>
		<key>leaveUpdateCyle</key>
		<string>leaveUpdateCyle</string>
		<key>modifiedBy</key>
		<string>modifiedBy</string>
		<key>noOfLeaves</key>
		<string>noOfLeaves</string>
	</dict>
	<key>CompanyRoleData</key>
	<dict>
		<key>roleid</key>
		<string>roleid</string>
		<key>privilegeid</key>
		<string>privilegeid</string>
		<key>privilege</key>
		<string>privilege</string>
	</dict>
	<key>ManagerHierarchy</key>
	<dict>
		<key>entity_id</key>
		<string>UserID</string>
		<key>firstName</key>
		<string>FirstName</string>
		<key>lastName</key>
		<string>LastName</string>
		<key>mobileno1</key>
		<string>MobileNo1</string>
		<key>mobileno2</key>
		<string>MobileNo2</string>
		<key>emailId</key>
		<string>EmailID</string>
		<key>emailverified</key>
		<string>EmailVerified</string>
		<key>invalidLoginAttempt</key>
		<string>invalidLoginAttempt</string>
		<key>lastmodifiedby</key>
		<string>LastModifiedBy</string>
		<key>picture</key>
		<string>picture</string>
		<key>desc</key>
		<string>role.desc</string>
	</dict>
	<key>CompanyUsers</key>
	<dict>
		<key>entity_id</key>
		<string>UserID</string>
		<key>password</key>
		<string>Password</string>
		<key>firstName</key>
		<string>FirstName</string>
		<key>lastName</key>
		<string>LastName</string>
		<key>mobileNo1</key>
		<string>MobileNo1</string>
		<key>mobileNo2</key>
		<string>MobileNo2</string>
		<key>emailID</key>
		<string>EmailID</string>
		<key>deviceID</key>
		<string>DeviceID</string>
		<key>otp</key>
		<string>Otp</string>
		<key>otpGenerateTime</key>
		<string>otpGenerateTime</string>
		<key>lastModifiedBy</key>
		<string>LastModifiedBy</string>
		<key>invalidLoginAttempt</key>
		<string>invalidLoginAttempt</string>
		<key>picture</key>
		<string>picture</string>
		<key>role_id</key>
		<string>role.id</string>
		<key>role_desc</key>
		<string>role.desc</string>
		<key>role_application_id</key>
		<string>role.applicationID</string>
		<key>emailVerified</key>
		<string>EmailVerified</string>
	</dict>
	<key>Manager</key>
	<dict>
		<key>entity_id</key>
		<string>UserID</string>
		<key>firstName</key>
		<string>FirstName</string>
		<key>lastName</key>
		<string>LastName</string>
		<key>emailVerified</key>
		<string>EmailVerified</string>
		<key>invalidLoginAttempt</key>
		<string>invalidLoginAttempt</string>
		<key>picture</key>
		<string>picture</string>
		<key>lastmodifiedby</key>
		<string>LastModifiedBy</string>
	</dict>
	<key>PermanentAddresss</key>
	<dict>
		<key>entity_id</key>
		<string>AddressID</string>
		<key>country</key>
		<string>Country</string>
		<key>state</key>
		<string>State</string>
		<key>city</key>
		<string>City</string>
		<key>addressLine1</key>
		<string>AddressLine1</string>
		<key>addressLine2</key>
		<string>AddressLine2</string>
		<key>pincode</key>
		<string>Pincode</string>
		<key>latitude</key>
		<string>Longitude</string>
		<key>longitude</key>
		<string>Longitude</string>
		<key>lastmodified</key>
		<string>LastModified</string>
		<key>lastmodifiedby</key>
		<string>LastModifiedBy</string>
		<key>verified</key>
		<string>Verified</string>
	</dict>
	<key>InvitedMember</key>
	<dict>
		<key>entity_id</key>
		<string>ID</string>
		<key>name</key>
		<string>Name</string>
		<key>active</key>
		<string>Active</string>
		<key>mobileNo</key>
		<string>MobileNo</string>
		<key>role_id</key>
		<string>roles.id</string>
		<key>role_desc</key>
		<string>roles.desc</string>
		<key>role_applicationID</key>
		<string>roles.applicationID</string>
		<key>createdBy</key>
		<string>CreatedBy</string>
		<key>emailID</key>
		<string>EmailID</string>
		<key>status</key>
		<string>Status</string>
	</dict>
	<key>Privilege</key>
	<dict>
		<key>privilegeid</key>
		<string>privilegeid</string>
		<key>roleid</key>
		<string>roleid</string>
		<key>privilege</key>
		<string>privilege</string>
	</dict>
	<key>Notification</key>
	<dict>
		<key>entity_id</key>
		<string>ID</string>
		<key>last_modified</key>
		<string>LastModified</string>
		<key>company_id</key>
		<string>CompanyID</string>
		<key>message</key>
		<string>message</string>
		<key>notified</key>
		<string>Notified</string>
		<key>status</key>
		<string>Status</string>
		<key>transaction_id</key>
		<string>TransactionID</string>
		<key>type</key>
		<string>Type</string>
		<key>user_id</key>
		<string>UserID</string>
	</dict>
	<key>Approval</key>
	<dict>
		<key>entity_id</key>
		<string>ID</string>
		<key>last_modified</key>
		<string>LastModified</string>
		<key>company_id</key>
		<string>CompanyID</string>
		<key>message</key>
		<string>message</string>
		<key>notified</key>
		<string>Notified</string>
		<key>status</key>
		<string>Status</string>
		<key>transaction_id</key>
		<string>TransactionID</string>
		<key>type</key>
		<string>Type</string>
		<key>user_id</key>
		<string>UserID</string>
		<key>data</key>
		<string>data</string>
	</dict>
	<key>NotificationData</key>
	<dict>
		<key>first_name</key>
		<string>FirstName</string>
		<key>last_name</key>
		<string>LastName</string>
		<key>pICTURE</key>
		<string>Picture</string>
		<key>user_id</key>
		<string>ID</string>
	</dict>
	<key>AttendanceHistory</key>
	<dict>
		<key>entity_id</key>
		<string>id</string>
		<key>checkInAddress</key>
		<string>checkInAddress</string>
		<key>checkOutAddress</key>
		<string>checkOutAddress</string>
		<key>attendanceDate</key>
		<string>attendanceDate</string>
		<key>checkInAddressID</key>
		<string>checkInAddressID</string>
		<key>checkInApproved</key>
		<string>checkInApproved</string>
		<key>checkInTime</key>
		<string>checkInTime</string>
		<key>checkOutAddressID</key>
		<string>checkOutAddressID</string>
		<key>checkOutApproved</key>
		<string>checkOutApproved</string>
		<key>checkOutTime</key>
		<string>checkOutTime</string>
		<key>companyID</key>
		<string>companyID</string>
		<key>early</key>
		<string>endTime</string>
		<key>internalBaseClassIdentifier</key>
		<string>internalBaseClassIdentifier</string>
		<key>late</key>
		<string>late</string>
		<key>latitude</key>
		<string>latitude</string>
		<key>leaveDay</key>
		<string>leaveDay</string>
		<key>leaveType</key>
		<string>leaveType</string>
		<key>longitude</key>
		<string>longitude</string>
		<key>manualApproved</key>
		<string>manualApproved</string>
		<key>manualAttendance</key>
		<string>manualAttendance</string>
		<key>minEarly</key>
		<string>minEarly</string>
		<key>minLate</key>
		<string>minLate</string>
		<key>modifiedBy</key>
		<string>modifiedBy</string>
		<key>present</key>
		<string>present</string>
		<key>reason</key>
		<string>reason</string>
		<key>startTime</key>
		<string>startTime</string>
		<key>timeIn</key>
		<string>timeIn</string>
		<key>timeOut</key>
		<string>timeOut</string>
		<key>totalWorkTime</key>
		<string>totalWorkTime</string>
		<key>updatedTimeIn</key>
		<string>updatedTimeIn</string>
		<key>updatedTimeOut</key>
		<string>updatedTimeOut</string>
		<key>totalTime</key>
		<string>totalTime</string>
		<key>checkInAttendanceType</key>
		<string>checkInAttendanceType</string>
		<key>checkOutAttendanceType</key>
		<string>checkOutAttendanceType</string>
		<key>checkOutPhotoURL</key>
		<string>checkOutPhotoURL</string>
		<key>checkInPhotoURL</key>
		<string>checkInPhotoURL</string>
	</dict>
	<key>AttendanceUserHistory</key>
	<dict>
		<key>entity_id</key>
		<string>id</string>
		<key>checkOutPhotoURL</key>
		<string>checkOutPhotoURL</string>
		<key>checkInPhotoURL</key>
		<string>checkInPhotoURL</string>
		<key>checkInAddress</key>
		<string>checkInAddress</string>
		<key>checkOutAddress</key>
		<string>checkOutAddress</string>
		<key>attendanceDate</key>
		<string>attendanceDate</string>
		<key>checkInAddressID</key>
		<string>checkInAddressID</string>
		<key>checkInApproved</key>
		<string>checkInApproved</string>
		<key>checkInTime</key>
		<string>checkInTime</string>
		<key>checkOutAddressID</key>
		<string>checkOutAddressID</string>
		<key>checkOutApproved</key>
		<string>checkOutApproved</string>
		<key>checkOutTime</key>
		<string>checkOutTime</string>
		<key>companyID</key>
		<string>companyID</string>
		<key>early</key>
		<string>endTime</string>
		<key>internalBaseClassIdentifier</key>
		<string>internalBaseClassIdentifier</string>
		<key>late</key>
		<string>late</string>
		<key>latitude</key>
		<string>latitude</string>
		<key>leaveDay</key>
		<string>leaveDay</string>
		<key>leaveType</key>
		<string>leaveType</string>
		<key>longitude</key>
		<string>longitude</string>
		<key>manualApproved</key>
		<string>manualApproved</string>
		<key>manualAttendance</key>
		<string>manualAttendance</string>
		<key>minEarly</key>
		<string>minEarly</string>
		<key>minLate</key>
		<string>minLate</string>
		<key>modifiedBy</key>
		<string>modifiedBy</string>
		<key>present</key>
		<string>present</string>
		<key>reason</key>
		<string>reason</string>
		<key>startTime</key>
		<string>startTime</string>
		<key>timeIn</key>
		<string>timeIn</string>
		<key>timeOut</key>
		<string>timeOut</string>
		<key>totalWorkTime</key>
		<string>totalWorkTime</string>
		<key>updatedTimeIn</key>
		<string>updatedTimeIn</string>
		<key>updatedTimeOut</key>
		<string>updatedTimeOut</string>
		<key>checkInAttendanceType</key>
		<string>checkInAttendanceType</string>
		<key>checkOutAttendanceType</key>
		<string>checkOutAttendanceType</string>
		<key>totalTime</key>
		<string>totalTime</string>
		<key>clientName</key>
		<string>clientName</string>
		<key>checkOutClientName</key>
		<string>checkOutClientName</string>
		<key>checkInClientName</key>
		<string>checkInClientName</string>
	</dict>
	<key>AttendanceUser</key>
	<dict>
		<key>companyId</key>
		<string>companyId</string>
		<key>entity_id</key>
		<string>id</string>
		<key>desc</key>
		<string>desc</string>
		<key>deviceid</key>
		<string>deviceid</string>
		<key>emailID</key>
		<string>emailID</string>
		<key>firstName</key>
		<string>firstname</string>
		<key>lastName</key>
		<string>lastname</string>
		<key>picture</key>
		<string>userImagePath</string>
		<key>roleId</key>
		<string>roleId</string>
		<key>userImagePath</key>
		<string>userImagePath</string>
		<key>userId</key>
		<string>userId</string>
	</dict>
</dict>
</plist>
